@import "../../style/mixin.scss";
@import "../../style/common.scss";
.greeting {
  font-size: 16px;
  height: 80px;
  text-align: center;
  line-height: 80px;
}

ion-content {
  overflow: hidden;
}

ion-list-header {
  background-color: #66b1ff;
}

.info-data {
  width: 100%;
  background: $fc;
  box-sizing: border-box;
  ul {
    width: 100%;
    .info-data-link {
      float: left;
      width: 33.33%;
      border-right: 1px solid #f1f1f1;
      span {
        display: block;
        width: 100%;
        text-align: center;
      }
      .info-data-top {
        font-size: 44px;
        padding: 20px 0 14.5px;
        b {
          display: inline-block;
          font-weight: 700;
          line-height: 16.7px;
          font-family: Helvetica Neue, Tahoma;
        }
      }
      .info-data-bottom {
        font-size: 14.5px;
        color: #666;
        font-weight: 600;
        padding-bottom: 3.5px;
      }
    }
    .info-data-link:nth-of-type(2) {
      .info-data-top {
        b {
          color: #ff5f3e;
        }
      }
    }
    .info-data-link:nth-of-type(3) {
      border: 0;
      .info-data-top {
        b {
          color: #6ac20b;
        }
      }
    }
  }
}
