.btns {
  position: relative;
  height: 60px;
  .ion-no-margin1 {
    position: absolute;
    right: 80px;
    top: 6px;
  }
  .ion-no-margin2 {
    position: absolute;
    right: 20px;
    top: 6px;
  }
}
