img{
  display: block;
  width: 50%;
  height:25%;
  margin: 0 auto;
  border-radius: 50% 50%;
}

ion-item-divider{
  background-color: #fff;
}

ion-item{
  span{
    font-size: 1.4rem;
    color: #d61313;
  }
}
