<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title">登录</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <img src="assets/timg.jpg" alt="">
  <form>
    <ion-item-divider>
    </ion-item-divider>
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-input required type="text" maxlength="8" minlength="2" placeholder="用户名" [(ngModel)]="userinfo.userName" name="userName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input required type="password" maxlength="12" minlength="6" placeholder="密码" [(ngModel)]="userinfo.userPsd" name="userPsd"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <span slot="start">忘记密码</span>
        <span slot="end" [routerLink]="['/account']">新用户注册</span>
      </ion-item>
    </ion-list>

    <ion-button (click)="doLogin()" expand="block" color="danger">登录</ion-button>

  </form>
</ion-content>