.ly{
  .lyName{
    font-size:14px;
  }
  .lyContent{
    font-size:14px;
    box-sizing: border-box;
    padding-left:5px;
    padding-top:5px;
    text-indent: 25px;
  }
}

.hot {
  .hotProduce {
    width: 340px;
    font-size: 13px;
    .hotProduceTitle {
      font-size: 16px;
      width: 130px;
      margin-right: 15px;
    }
    .hotProducePrice {
      color: red;
    }
  }
}