.card-content-ios {
  padding-left: unset;
  padding-right: unset;
  -webkit-padding-start: 10px;
  padding-inline-start: 10px;
  -webkit-padding-end: 10px;
  padding-inline-end: 10px;
}

.card-content-ios {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 1.4;
}

.hot {
  .hotProduce {
    width: 340px;
    font-size: 13px;
    .hotProduceTitle {
      font-size: 16px;
      width: 130px;
      /* 不换行 */
      white-space: nowrap;
      /* 超出宽度隐藏 */
      overflow: hidden;
      /* 超出文字打点 */
      text-overflow: ellipsis;
      margin-right: 15px;
    }
    .hotProducePrice {
      color: red;
    }
  }
}
.card {
  width: 155px;
  float: left;
  margin-bottom: -5px;
  .showInfo {
    .itemInfo {
      font-size: 14px;
      h2 {
        font-weight: 800;
        /* 单行文本 溢出打点三件套 */
        /* 不换行 */
        white-space: nowrap;
        /* 超出宽度隐藏 */
        overflow: hidden;
        /* 超出文字打点 */
        text-overflow: ellipsis;
      }
      p > span {
        width: 120px;
        display: inline-block;
        /* 单行文本 溢出打点三件套 */
        /* 不换行 */
        white-space: nowrap;
        /* 超出宽度隐藏 */
        overflow: hidden;
        /* 超出文字打点 */
        text-overflow: ellipsis;
      }
    }
  }
  .itemShow {
    .itemImg {
      img {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 5px;
      }
    }
  }
}

.card2 {
  display: flex;
  justify-content: space-between;
  .showInfo {
    width: 180px;
    line-height: 2;
    .itemInfo {
      font-size: 14px;
      h2 {
        font-weight: 800 !important;
        /* 单行文本 溢出打点三件套 */
        /* 不换行 */
        white-space: nowrap;
        /* 超出宽度隐藏 */
        overflow: hidden;
        /* 超出文字打点 */
        text-overflow: ellipsis;
      }
      p > span {
        width: 160px;
        display: inline-block;
        /* 单行文本 溢出打点三件套 */
        /* 不换行 */
        white-space: nowrap;
        /* 超出宽度隐藏 */
        overflow: hidden;
        /* 超出文字打点 */
        text-overflow: ellipsis;
      }
    }
  }
  .itemShow {
    flex: 1;
    img {
      width: 120px;
      height: 120px;
      display: block;
      border-radius: 5px;
    }
  }
}
