<ion-header>
  <ion-toolbar color="new">
    <ion-buttons slot="start" class="btnback">
      <ion-menu-button menu="menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">
      淘二淘
    </ion-title>
    <ion-buttons slot="end">
      <img src="../../assets/qrcode.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides pager="true" #slide [options]="slidesOpts" (ionSlideTouchEnd)="slideTouchEnd()">
    <ion-slide *ngFor="let item of focusList">
      <img [src]="config.urlHeader+item.pic">
    </ion-slide>
  </ion-slides>

  <div class="h_title">
    猜你喜欢
  </div>

  <div class="hotList">
    <!-- <ul class="clearfix" [ngStyle]="{'width': hotListWidth}">
      <li *ngFor="let item of hotList">
        <img [src]="config.urlHeader+item.pic">
        <p>{{item.title}}</p>
      </li>
    </ul> -->

    <ul class="clearfix" [ngStyle]="{'width': hotListWidth}">
      <li *ngFor="let item of goodsList;let key=index">
        <img [src]="item.goodsImgSmall" [routerLink]="['/goodsdetails',item._id]">
        <p>{{item.goodsName}}</p>
      </li>
    </ul>

  </div>
  <ion-searchbar (tap)="goSearch()" id="serach" placeholder="搜索请输入" animated>
  </ion-searchbar>

  <div class="h_title">
    商品列表
  </div>

  <div class="p_list">
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let goods of goodsList;let key=index" class="p_listItem"
          [routerLink]="['/goodsdetails',goods._id]">
          <div class="p_listInner">
            <div class="itemImg"><img [src]="goods.goodsImgSmall" alt="商品图片" title="商品图片" /></div>
            <div class="itemInfo">
              <h2>{{goods.goodsName}}</h2>
              <p>价格：{{goods.goodsPrice}}￥</p>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>