<ion-header>
  <ion-toolbar color="new">
    <ion-buttons slot="start" class="btnback">
      <ion-menu-button menu="menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">
      淘二淘
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>公告</ion-card-subtitle>
      <ion-card-title>火热聚物榜</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list class="hot" *ngFor="let item of pubList">
        <ion-item class="hotProduce"><span class="hotProduceTitle">{{item.pubsName}}</span>价格区间:<span
            class="hotProducePrice">{{item.pubsPrice}}￥</span></ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-searchbar id="serach" placeholder="搜索请输入：elegoods、bookgoods" animated [(ngModel)]="keywords"
    (keyup)="getItems($event)">
  </ion-searchbar>
  <div *ngIf="flag">
    <ion-card *ngFor="let goods of goodsList;let key=index" class="card">
      <ion-card-content [routerLink]="['/goodsdetails',goods._id]">
        <ion-list>
          <div class="showInfo">
            <div class="itemInfo">
              <h2>{{goods.goodsName}}</h2>
              <p>价格：{{goods.goodsPrice}}￥</p>
              <p>简介:<br /><span>{{goods.goodsContent}}</span></p>
            </div>
          </div>
          <div class="itemShow">
            <div class="itemImg"><img [src]="goods.goodsImgSmall" alt="商品图片" title="商品图片"/></div>
          </div>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
<!-- 
  <ion-infinite-scroll threshold="50%" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载中...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

  <div *ngIf="!flag">
    <ion-card *ngFor="let goods of newgoodsList;let key=index">
      <ion-card-content [routerLink]="['/goodsdetails',goods._id]">
        <ion-list class="card2">
          <div class="showInfo">
            <div class="itemInfo">
              <h2>{{goods.goodsName}}</h2>
              <p>价格：{{goods.goodsPrice}}￥</p>
              <p>简介:<br /><span>{{goods.goodsContent}}</span></p>
            </div>
          </div>
          <div class="itemShow">
            <img [src]="goods.goodsImgSmall" />
          </div>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>