.icContent {
  padding: 0 !important;
}
.flag {
  text-align: center;
  font-weight: 900;
  font-size: 18px;
}
.shops {
  position: relative;
  height: 120px;
  .cBox {
    padding: 0 !important;
    position: absolute;
    top: 37px;
  }
  .shopImg {
    position: absolute;
    left: 50px;
    top: 10px;
    width: 100px;
    height: 100px;
    // border-radius: 50px;
  }
  .shop {
    position: absolute;
    left: 170px;
    top: 20px;
    width: 150px;
    height: 125px;
    font-size: 12px;
    .shopTitle {
      width: 100%;
      display: inline-block;
      position: absolute;
      font-weight: 900;
      left: 0px;
    }
    .shopAmount {
      display: inline-block;
      margin-top: 5px;
      font-weight: 900;
      position: absolute;
      left: 0px;
      .shopAmountBtn {
        display: inline-block;
        text-align: center;
        width: 18px;
        height: 18px;
        background-color: #409eff;
        border-radius: 50% 50%;
        margin-left: 5px;
        margin-right: 5px;
        color: #fff;
      }
    }
    .shopPrice {
      display: inline-block;
      margin-top: 5px;
      font-weight: 900;
      color: red;
      position: absolute;
      top: 40px;
      left: 0px;
    }
    .shopBtn {
      position: absolute;
      right: 15px;
      bottom: 25px;
    }
  }
  .operate {
    display: flex; /*设为伸缩容器*/
    flex-flow: row; /*伸缩项目单行排列*/
    .allSel {
      display: inline-block;
      width: 100px;
    }
    .totol {
      display: inline-block;

      flex: 1;
    }
  }
}
