<ion-header>
  <ion-toolbar>
    <ion-title class="title">
      购物车
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p *ngIf="flag" class="flag">抱歉！您的购物车空空如也!<br /><br />请你再逛逛！</p>
  <ion-card *ngFor="let good of goods">
    <ion-item>
      <ion-card-content class="icContent">
        <div class="shops">
          <ion-checkbox slot="start"  class="cBox" (click)="getId($event,good.goodsName)"></ion-checkbox>
          <ion-img class="shopImg" [src]="good.goodsImgSmall"></ion-img>
          <div class="shop">
            <span class="shopTitle">{{good.goodsName}}</span>
            <br />
            <span class="shopPrice">{{good.goodsPrice}}￥</span>
            <br />
            <ion-button slot="end" fill="clear" class="shopBtn" (click)="delGoods(good._id)">删除</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-item>
  </ion-card>
  <div class="ion-padding">
    <ion-button expand="block" class="ion-no-margin" (click)="sumGoods()" [routerLink]="['/myorder']" [queryParams]="{id:good._id}">结算商品</ion-button>
  </div>
</ion-content>