<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title">我的信息</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="list">
    <ion-item class="item">
      <ion-label>用户名：</ion-label>
    </ion-item>
    <ion-item class="item">
      <ion-label>性别：</ion-label>
    </ion-item>
    <ion-item class="item">
      <ion-label>学校：</ion-label>
    </ion-item>
    <ion-item class="item">
      <ion-label>收获地址：</ion-label>
    </ion-item>
    <ion-item class="item">
      <ion-label>个人简介：</ion-label>
    </ion-item>
  </ion-list>
</ion-content>