.contain {
  height: 80px;
  // background-color: pink;
  // margin-left: 5px;
  // margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 2px;
  // border: 1px solid #404040;
  .textArea {
    font-size: 14px;
    color: #404040;
  }
  .list {
    .listItem {
      font-size: 14px;
      color:#404040;
      .title{
        font-size:15px;
        padding-left: 3px;
      }
    }
    .listItem1 {
      padding-top: 5px;
      font-size: 14px;
      color:#404040;
    }
  }
}
