ion-segment {
  margin-left: -2rem;
}

.contain {
  background-color: #efefef;
  .goodsImg {
    width: 100%;
    height: 21rem;
    margin-bottom: 1rem;
    img {
      width: 100%;
      height: 21rem;
    }
  }
  .p_info {
    border-bottom: 0.1rem solid #eee;
    padding: 0.5rem;
    background-color: #fff;
    .p_title {
      margin-bottom: 1rem;
      h2 {
        font-size: 2.5rem;
        line-height: 1.5;
      }
      p {
        margin-top: 1rem;
        height: 8rem;
        font-size: 2rem;
        color: #666;
        line-height: 1.5;
      }
    }
    .p_price {
      display: flex;
      .now_price {
        display: block;
        padding-left: 0.5rem;
        width: 26rem;
        color: red;
        font-size: 1.8rem;
      }
      .amount {
        display: block;
        flex: 1;
        color: #666;
        font-size: 1.6rem;
      }
    }
  }

  .goodsAttr {
    font-size: 1.8rem;
    background-color: #fff;
    margin-top: 1rem;
    color: #444;
    p {
      padding: 0.5rem;
      font-size: 1.4rem;
      color: #666;
    }
    .cate {
      padding: 0.5rem;
      span {
        display: inline-block;
        margin-right: 1rem;
        font-size: 1.6rem;
        border: 0.1rem solid #eee;
        border-radius: 0.5rem;
        padding: 0.3rem 0.7rem;
        &.active {
          border: 0.2rem solid red;
        }
      }
    }
    .amount {
      padding: 0.5rem;
      .cart_num {
        span {
          display: inline-block;
          height: 3.2rem;
        }
        float: right;
        margin-right: 2rem;
        width: 10rem;
        display: flex;
        .input_left,
        .input_right {
          width: 3rem;
          height: 3rem;
          line-height: 3rem;
          background: #eee;
          text-align: center;
          font-size: 1.8rem;
          border: 0.1rem solid #eee;
        }
        .input_center {
          flex: 1;
          input {
            width: 100%;
            height: 3rem;
            line-height: 3rem;
            text-align: center;
            border: 0.1rem solid #eee;
          }
        }
      }
    }
  }
}

.footer_bar {
  display: flex;
  .cart {
    width: 12rem;
    position: relative;
    text-align: center;
    ion-icon {
      font-size: 2.8rem;
    }
    p {
      font-size: 1.4rem;
    }
    ion-badge {
      position: absolute;
      font-size: 0.5rem;
      right: 32px;
      top: -1px;
    }
  }

  .addcart {
    flex: 1;
    font-size: 1.8rem;
    height: 5.5rem;
    line-height: 5.5rem;
    text-align: center;
    color: #fff;
    background-color: orange;
  }

  .buy {
    flex: 1;
    font-size: 1.8rem;
    height: 5.5rem;
    line-height: 5.5rem;
    text-align: center;
    color: #fff;
    background-color: red;
  }
}
