.contain {
  width: 100%;
  .list {
    ion-item {
      line-height: 3;
    }
    width: 100%;
    .listImg {
      width: 100%;
      --padding-start: 10px;
      --padding-end: 10px;
      --inner-padding: 0px;
    }
    .listItem {
      font-size: 15px;
      color: #404040;
      line-height: 3;
    }
    .goodsImg {
      display: inline-block;
      width: 100%;
      height: 220px;
    }
  }
}
