.contain {
  width: 100%;
  .list {
    ion-item{
      line-height: 3;
    }
    width: 100%;
    .listItem {
      font-size: 15px;
      color: #404040;
      line-height: 3;
    }
    .goodsImg {
      width: 100%;
      height: 220px;
    }
  }
}
