.header{
  font-size: 13px;
}
.contain {
  width: 100%;
  .list {
    width: 100%;
    ion-item {
      line-height: 3;
    }
    width: 100%;
    .listImg {
      width: 100%;
      --padding-start: 10px;
      --padding-end: 10px;
      --inner-padding: 0px;
    }
    .listItem {
      font-size: 14px;
      color: #404040;
      line-height: 3;
      font-weight: 600;
    }
    .goodsImg {
      display: inline-block;
      width: 100%;
      height: 220px;
    }
  }
}
// ion-tabs {
//   position: fixed;
//   bottom: 0;
// }
