<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">修改密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">

    <ion-item>
      <ion-label position="stacked">用户名：<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="text" name="userName" #username></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">密码：<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="password" name="userPsd" #passwordNew></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">确认密码：<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="password" #password></ion-input>
    </ion-item>

  </ion-list>
  <ion-buttons class="btn">
    <ion-button (click)="upDataPsd(username,passwordNew,password)" fill="clear" class="btn1">
      确定
    </ion-button>
    <ion-button (click)="goback()" fill="clear" class="btn1">
      取消
    </ion-button>
  </ion-buttons>
</ion-content>