.p_list {
  .p_listInner {
    padding: 0.5rem;
    border: 1px solid #eee;

    .itemInfo {
      h2 {
        height: 3.8rem;
        font-size: 1.6rem;
        font-weight: 600;
      }
      p {
        font-size: 1.4rem;
        color: #f53d3d;
      }
    }
  }
}
.p_listItem {
  text-align: center;
}
ion-searchbar {
  margin-top: 0.2rem;
  border-radius: 0.6rem 0.6rem;
  margin-bottom: -0.9rem;
}
ion-buttons {
  margin-top: 0.2rem;
  margin-bottom: -0.9rem;
}
.search_content {
  .search_title {
    font-size: 1.6rem;

    font-weight: bold;

    padding: 0.5rem 0px;
  }

  .hotlist {
    p {
      padding: 0.5rem 0px;
      span {
        padding: 0.5rem;
        background: #eee;
        margin: 0.5rem 0.5rem;
        border-radius: 0.5rem;
        display: inline-block;
      }
    }
  }

  .history {
    ion-item {
      font-size: 1.4rem;
    }
  }
}

.sub_toolbar {
  --min-height: 3rem;

  .subheader {
    border-top: 1px solid #eee;
    display: flex;
    align-items: center;
    height: 3rem;
    div {
      flex: 1;
      text-align: center;
    }
  }
}

.list_content {
  ion-list {
    ion-item {
      ion-label {
        white-space: normal;
      }
    }
  }
}
