<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-button (tap)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar placeholder="输入您想要的商品" animated [(ngModel)]="keyWord"></ion-searchbar>

    <ion-buttons slot="end">
      <ion-button (click)="doSearch()" color="dark">
        搜索
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="sub_toolbar" *ngIf="keyWord">
    <div class="subheader">
      <div>图片</div>
      <div>名称</div>
      <div>价格</div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search_content" *ngIf="!keyWord" padding>
    <div class="hotlist">
      <h3 class="search_title">热搜</h3>
      <p>
        <span>篮球</span>
        <span>手机</span>
        <span>电脑</span>
        <span>热水瓶</span>
        <span>手表</span>
      </p>

    </div>

    <div class="history">
      <h3 class="search_title">历史搜索</h3>
      <ion-list *ngFor="let item of historySearch">
        <ion-item>
          {{item.goodsName}}
        </ion-item>
      </ion-list>
    </div>
  </div>

  <div class="p_list">
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let goods of searchGoods;let key=index" class="p_listItem"
          [routerLink]="['/goodsdetails',goods._id]">
          <div class="p_listInner">
            <div class="itemImg"><img [src]="goods.goodsImgSmall" alt="商品图片" title="商品图片" /></div>
            <div class="itemInfo">
              <h2>{{goods.goodsName}}</h2>
              <p>价格：{{goods.goodsPrice}}￥</p>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>