.title1 {
  color: #f40;
  height: 3px;
}
.flag {
  text-align: center;
  font-weight: 900;
  font-size: 18px;
}
.showInfo {
  position: relative;
  .itemTitle {
    font-size: 16px;
    font-weight: 600;
    color: #404040;
    line-height: 1.5;
  }
  .goodsbtn {
    // position: absolute;
    right: 5px;
    font-size: 14px;
  }
  .itemImg {
    position: absolute;
    right: 0;
    top: 5px;
    width: 120px;
    height: 120px;
    border-radius: 50% 50%;
  }
}
