<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title">我的订单</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let good of goods;let key=index">
    <ion-card-content>
      <ion-list class="showInfo">
        <div class="title">订单状态：未支付</div><br />
        <div class="itemTitle">{{good.goodsName}}<br />价格：{{good.goodsPrice}}￥<br /></div>
        <ion-button class="goodsbtn" fill="clear">删除此商品</ion-button>
        <div class="itemImg"><img [src]="good.goodsImgSmall"></div>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>